input_device_index: 0
activation_method: wakeword
audio_sample_rate: 16000
frame_duration: 30
frame_buffer_size: 3000
vad_config:
  sensitivity: 3
  window: 1000
  min_pass_ratio: 0.5
wakeword_config:
  wakeword: 'ok hound'
  timeout_after_wakeword: 5000
  kws_threshold: 1e-5
hound_config:
  client_id: <client_id>
  client_key: <client_key>
  user: <user>
  start_sound: 'sounds/hound_start.wav'
  stop_sound: 'sounds/hound_stop.wav'
  request_info:
    Latitude: <latitude>
    Longitude: <longitude>
    TimeZone: America/Los_Angeles
    ResponseAudioShortOrLong: Long
    ResponseAudioVoice: QueenElizabeth
